<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>管理平台</title>
		<script src="../static/js/jquery-1.11.1.min.js"></script>
		<link href='../static/css/main.css' rel='stylesheet'/>
		<script src="../static/js/echarts.min.js"></script>
		<style>
			
		</style>
	</head>
	<body>
		<div id = 'title1'>安全管理平台</div>
		<div id = 'title2'>
			<div class="num"><h1>1</h1></div>
			<div class="num"><h1>3</h1></div>
			<div class="num"><h1>4</h1></div>
			<div class="txt"><h2>不安全轨迹</h2></div>
			<div class="txt"><h2>仪表安全</h2></div>
			<div class="txt"><h2>不安全行为</h2></div>
		</div>
		<div id = 'title3'>布控区管理
            
        </div>

		<div id = 'title4'>
			<img src="../static/yibiao.jpeg" alt="Image Description" class="media-size">
			
		</div>
		<div id = 'title5'>
			<img src="../static/shigong.jpeg" alt="Image Description" class="media-size">
			
		</div>
		<div id = 'title6'>
			<img src="../static/jinggai.jpeg" alt="Image Description" class="media-size">
		</div>
		<div id = 'title7'>title7</div>
			<script src='../static/js/ec_right1.js'></script>
		<div id = 'title8'>title8</div>
			<script src='../static/js/ec_left1.js'></script>
		<div id = 'title9'>title9</div>
			<script src="../static/js/ec_title9.js"></script>
		<div id = 'title10'>
            <video class="media-size" controls>
            <source src="../static/B612.mp4" type="video/mp4">
            Your browser does not support the video tag.
            </video>
        </div>
        <div id = 'tim'>shijian</div>
		
		<script src="../static/js/controller.js"></script>
    
	</body>
</html>